---
import Panel from "./Panel.astro";
import { getCollection } from "astro:content";

const { class: className } = Astro.props;

const posts = (await getCollection("blog"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<Panel class:list={[className]}>
	<h3 class="text-2xl">Recent Posts</h3>
	<ul class="my-2">
		{
			posts.map((post) => (
				<li class="py-2 border-b border-white dark:border-slate-700 last:border-0">
					<time class="text-xs italic" datetime={post.data.pubDate.toISOString()}>
						{post.data.pubDate.toLocaleDateString("en-us", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})}
					</time>
					<a href={`/blog/${post.slug}`}>
						<h4 class="text-lg underline text-blue-400 hover:text-blue-500">{post.data.title}</h4>
					</a>
					<p class="text-xs">{post.data.description}</p>
					<div class="flex my-2 flex-wrap">
						{post.data.tags.map((tag) => (
							<div class="mr-2 mb-2">
								<a href={`/tags/${tag}`}>
									<span class="inline-flex items-center rounded-md  px-2 py-1 text-xs font-medium text-blue-400 hover:text-blue-500 ring-1 ring-inset ring-blue-600/50">
										{tag}
									</span>
								</a>
							</div>
						))}
					</div>
				</li>
			))
		}
	</ul>
	<a class="text-xs text-blue-400 hover:text-blue-500 hover:dark:text-blue-500" href="/blog">All Posts →</a>
</Panel>
