---
import { getCollection } from "astro:content";
import SearchBar from "../SearchBar";
import Panel from "./Panel.astro";
import { getLangFromUrl, getPostsByLang } from "../../i18n/utils";

const { class: className } = Astro.props;
const lang = getLangFromUrl(Astro.url);

const blogPosts = await getCollection("blog");
const notePosts = await getCollection("notes");
const allPosts = [...blogPosts, ...notePosts].sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const postsByLang = getPostsByLang(allPosts, lang);
const tags = [...new Set(postsByLang.map((post) => post.data.tags).flat())];
---

<Panel class:list={[className]}>
	<div class="h-full flex flex-col justify-center">
		<SearchBar client:load />
		<div class="flex my-2 flex-wrap">
			{
				tags.map((tag) => (
					<div class="mr-2 mb-2">
						<a href={!lang ? `/tags/${tag}` : `/${lang}/tags/${tag}`}>
							<span class="inline-flex items-center rounded-md  px-2 py-1 text-sm font-medium text-blue-400 hover:text-blue-500 ring-1 ring-inset ring-blue-600/50">
								{tag}
							</span>
						</a>
					</div>
				))
			}
		</div>
		<a
			class="text-xs text-blue-400 hover:text-blue-500 hover:dark:text-blue-500"
			href={`/${lang}/tags`}
		>
			All Tags →
		</a>
	</div>
</Panel>
