---
import Layout from "../../layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const { title, description, pubDate } = post.data;
---

<Layout title={title} description={description}>
	<div class="flex flex-col justify-center items-center" data-pagefind-body>
		<div class="w-full max-w-3xl">
			<h1 class="text-4xl">{title}</h1>
			<h2 class="text-base text-gray-400">{description}</h2>
			<div class="flex space-x-2 py-2 my-4">
				<time class="text-sm" datetime={pubDate.toISOString()}>
					{
						pubDate.toLocaleDateString("en-us", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})
					}
				</time>
			</div>
		</div>
		<article
			class="prose w-full max-w-3xl prose-slate dark:prose-invert prose-img:rounded-xl prose-headings:underline prose-a:text-blue-400"
		>
			<Content />
		</article>
	</div>
</Layout>
