---
import FormattedDateTime from "./FormattedDateTime.astro";
import type { Post } from "./types";

interface Props {
	post: Post;
}

const { post } = Astro.props;
---

<FormattedDateTime datetime={post.data.pubDate} lang={post.params.lang} />
<a href={`/${post.params.lang}/blog/${post.params.slug}`}>
	<h2 class="text-lg underline text-blue-400 hover:text-blue-500">{post.data.title}</h2>
</a>
<p class="text-xs">{post.data.description}</p>
<div class="flex my-2 flex-wrap">
	{
		post.data.tags.map((tag) => (
			<div class="mr-2 mb-2">
				<a href={`/tags/${tag}`}>
					<span class="inline-flex items-center rounded-md  px-2 py-1 text-xs font-medium text-blue-400 hover:text-blue-500 ring-1 ring-inset ring-blue-600/50">
						{tag}
					</span>
				</a>
			</div>
		))
	}
</div>
